
{% load static %}

<center><div class="container-fluid">
    <div class="row">
      <div class="col">
          <img src="{% static 'Images/savings.png' %}"  class = 'col'alt="" srcset="">
      </div>
      <div class="col">
        <h3>Know whether you are Eligible for a Loan</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
         <h3>Powered By advanced ML Algorithms</h3>
      </div>
      <div class="col">
      <img src="undraw_savings_re_eq4w.png"  class = 'col'alt="" srcset="">
      </div>
    </div>
  </div></center>